:root {
  --blue-050: #dceefb;
  --blue-100: #b6e0fe;
  --blue-200: #84c5f4;
  --blue-300: #62b0e8;
  --blue-400: #4098d7;
  --blue-500: #2680c2;
  --blue-600: #186faf;
  --blue-700: #0f609b;
  --blue-800: #0a558c;
  --blue-900: #003e6b;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;

  --teal-050: #f0fcf9;
  --teal-100: #c6f7e9;
  --teal-200: #8eedd1;
  --teal-300: #5fe3c0;
  --teal-400: #2dcca7;
  --teal-500: #17b897;
  --teal-600: #079a82;
  --teal-700: #048271;
  --teal-800: #016457;
  --teal-900: #004440;

  --red-050: #ffeeee;
  --red-100: #facdcd;
  --red-200: #f29b9b;
  --red-300: #e66a6a;
  --red-400: #d64545;
  --red-500: #ba2525;
  --red-600: #a61b1b;
  --red-700: #911111;
  --red-800: #780a0a;
  --red-900: #610404;

  --yellow-050: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
}

html {
  font-family: "Roboto";
  line-height: 1.4;
}

@media (min-width: 600px) {
  html {
    font-size: 125%;
  }
}

body {
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-900);
  padding: 1em;
}

@media (min-width: 600px) {
  body {
    padding: 3em;
  }
}

svg {
  height: 18px;
  width: auto;
}
img {
  width: 80px;
  height: auto;
}
.top {
  display: flex;
  justify-content: center;
  gap: 10px;
}
main {
  display: flex;
  flex-direction: column;
}

main h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.booklist {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}
/* ------------- New Book -------------------*/

.booklist__new-book {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 1em;
  border-radius: 5px;
  background-color: var(--blue-800);
}

.new-book__input-group {
  flex-grow: 1;
  width: auto;
}

.new-book__input-group label {
  display: block;
  font-weight: 300;
  font-size: 0.75rem;
  font-variant: small-caps;
  line-height: 1;
  letter-spacing: 0.05em;
  color: var(--blue-050);
}

.new-book__input-group input {
  border-radius: 0.3em;
  border-style: none;
  padding: 0.5em;
  width: 10em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1;
  border: 0;
}

.new-book__input-group input::placeholder {
  color: var(--blue-300);
}

.new-book__input-group input:focus {
  border-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.booklist__new-book button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 3px;
  font-size: 0.75em;
  line-height: 1.2;
  background-color: var(--teal-200);
  color: var(--teal-900);
  width: auto;
}

.booklist__new-book button:hover,
.booklist__new-book button:focus,
.booklist__new-book button:active {
  background-color: var(--teal-300);
  color: var(--teal-900);
}

.booklist__new-book button:focus,
.booklist__new-book button:active {
  outline: none;
}

.booklist__new-book button:active {
  background-color: var(--teal-500);
}

.booklist__new-book button[disabled] {
  background-color: var(--blue-grey-100);
  color: var(--blue-grey-300);
}

/* ------------- Book List -------------------*/
.booklist ul {
  padding: 0;
}
.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #fff;
  margin: 0.5em;
  color: var(--blue-800);
}

.book:hover {
  background-color: var();
}

.book button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 0.75rem 1rem;
  border: 2px solid var(--teal-200);
  border-radius: 3px;
  font-size: 0.75em;
  line-height: 1.2;
  background-color: white;
  color: var(--teal-900);
  width: auto;
}

.book button:nth-of-type(2) {
  background-color: var(--red-300);
  border: 2px solid var(--red-300);
}

.book button:nth-of-type(2):hover {
  background-color: var(--red-400);
  border: 2px solid var(--red-400);
}

#book__read-button.clicked {
  background-color: var(--teal-200);
  border: 2px solid var(--teal-200);
}
